<h1><%= ::Temple::Utils.escape_html((@student.id)) %>
</h1><p>First Name: <%= ::Temple::Utils.escape_html((@student.sfname)) %></p>
<p>Last Name: <%= ::Temple::Utils.escape_html((@student.slname)) %></p>
<p>Major:  <%= ::Temple::Utils.escape_html((@student.major)) %></p>
<p>GPA: <%= ::Temple::Utils.escape_html((@student.gpa)) %></p>
<p><a href="/students">back to Student index</a></p>
<p><a href="/students/<%= ::Temple::Utils.escape_html((@student.id)) %>/edit">edit Student Info</a></p>
<form action="/students/<%= ::Temple::Utils.escape_html((@student.id)) %>" method="POST">
<input name="_method" type="hidden" value="DELETE" />
<input type="submit" value="delete this Student Record" />
</form>
